<a href="https://colab.research.google.com/github/sherylshiya/machine_learning_projects/blob/main/DataManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('D:/CSE310 - AIML/Module 2/VANITHA/nba1.csv')

In [ ]:
dataset.head(2)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0

In [ ]:
dataset.shape

(457, 9)

In [ ]:
gk = dataset.groupby('Team')

In [ ]:
gk.first()

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24,SF,26,06-May,201,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0,PG,25,06-Feb,180,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44,SG,27,06-Aug,216,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5,SG,27,06-Aug,200,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41,PF,25,06-Sep,250,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8,PG,25,06-Apr,198,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1,SG,22,06-Jun,228,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0,PF,28,06-Sep,235,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50,C,33,06-Sep,245,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19,SG,33,06-Mar,194,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1,SF,30,06-Aug,215,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5,PF,27,06-Sep,255,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45,C,27,06-Nov,250,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2,PF,31,06-Aug,250,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3,SG,21,06-May,209,UCLA,1404600.0
Miami Heat,Chris Bosh,1,PF,32,06-Nov,235,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34,SF,21,06-Nov,222,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88,PF,28,06-Oct,240,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42,C,28,07-Feb,248,California,4389607.0
New York Knicks,Arron Afflalo,4,SG,30,06-May,210,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12,C,22,7-0,255,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3,C,26,7-0,245,USC,947276.0
Philadelphia 76ers,Elton Brand,42,PF,37,06-Sep,254,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2,PG,26,06-Jan,190,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34,PF,20,06-Aug,240,Kansas,525093.0
Sacramento Kings,Quincy Acy,13,SF,25,06-Jul,240,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12,PF,30,06-Nov,240,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8,C,23,06-Sep,245,Missouri,2814000.0
Utah Jazz,Trevor Booker,33,PF,28,06-Aug,228,Clemson,4775000.0
Washington Wizards,Alan Anderson,6,SG,33,06-Jun,220,Michigan State,4000000.0

In [ ]:
gk.get_group('Boston Celtics')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,06-Sep,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,06-Aug,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,06-Feb,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,06-Apr,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,06-Sep,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,05-Sep,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,06-Jul,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,06-Jun,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,7-0,253,North Carolina,2616975.0

In [ ]:
gkk = dataset.groupby(['Team', 'Position'])

In [ ]:
print(gkk)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000019A1E122750>

In [ ]:
gkk.first()

                                         Name  Number  Age  Height  Weight  \
Team               Position
Atlanta Hawks      C               Al Horford      15   30  06-Oct     245
                   PF          Kris Humphries      43   31  06-Sep     235
                   PG         Dennis Schroder      17   22  06-Jan     172
                   SF           Kent Bazemore      24   26  06-May     201
                   SG        Tim Hardaway Jr.      10   24  06-Jun     205
...                                       ...     ...  ...     ...     ...
Washington Wizards C            Marcin Gortat      13   32  06-Nov     240
                   PF             Drew Gooden      90   34  06-Oct     250
                   PG          Ramon Sessions       7   30  06-Mar     190
                   SF            Jared Dudley       1   30  06-Jul     225
                   SG           Alan Anderson       6   33  06-Jun     220

                                          College      Salary
Team               Position
Atlanta Hawks      C                      Florida  12000000.0
                   PF                   Minnesota   1000000.0
                   PG                 Wake Forest   1763400.0
                   SF                Old Dominion   2000000.0
                   SG                    Michigan   1304520.0
...                                           ...         ...
Washington Wizards C         North Carolina State  11217391.0
                   PF                      Kansas   3300000.0
                   PG                      Nevada   2170465.0
                   SF              Boston College   4375000.0
                   SG              Michigan State   4000000.0

[149 rows x 7 columns]

In [ ]:

world_champions={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],
'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New  Zealand','Zimbabwe'],'ICC_rank':[1,5,9],  'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.concat([df1,df2],axis=1))

           Team  ICC_rank  World_champions_Year  Points          Team  \
0         India         2                  2011     874  South Africa
1     Australia         3                  2015     787  New  Zealand
2  West  Indies         7                  1979     753      Zimbabwe
3      Pakistan         8                  1992     673           NaN
4     Sri Lanka         4                  1996     855           NaN

   ICC_rank  Points
0       1.0   895.0
1       5.0   764.0
2       9.0   656.0
3       NaN     NaN
4       NaN     NaN

In [ ]:

champion_stats={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4],
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
match_stats={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],
'World_cup_played':[11,10,11,9,8],  'ODIs_played':[733,988,712,679,662]}
df1=pandas.DataFrame(champion_stats)
df2=pandas.DataFrame(match_stats)
#print(df1)
#print(df2)
print(pandas.merge(df1,df2,on='Team'))

           Team  ICC_rank  World_champions_Year  Points  World_cup_played  \
0         India         2                  2011     874                11
1     Australia         3                  2015     787                10
2  West  Indies         7                  1979     753                11
3      Pakistan         8                  1992     673                 9
4     Sri Lanka         4                  1996     855                 8

   ODIs_played
0          733
1          988
2          712
3          679
4          662

In [ ]:
#####JOINS

In [ ]:

world_champions={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4],
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New  Zealand','Zimbabwe'],  'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='left'))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0         India           2                  2011       874         NaN
1     Australia           3                  2015       787         NaN
2  West  Indies           7                  1979       753         NaN
3      Pakistan           8                  1992       673         NaN
4     Sri Lanka           4                  1996       855         NaN

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

In [ ]:

world_champions={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4],
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New  Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='right'))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0  South Africa         NaN                   NaN       NaN           1
1  New  Zealand         NaN                   NaN       NaN           5
2      Zimbabwe         NaN                   NaN       NaN           9

   Points_y
0       895
1       764
2       656

In [ ]:

world_champions={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4],
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New  Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='inner'))

Empty DataFrame
Columns: [Team, ICC_rank_x, World_champions_Year, Points_x, ICC_rank_y, Points_y]
Index: []

In [ ]:

world_champions={'Team':['India','Australia','West  Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4],
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New  Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='outer'))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0         India         2.0                2011.0     874.0         NaN
1     Australia         3.0                2015.0     787.0         NaN
2  West  Indies         7.0                1979.0     753.0         NaN
3      Pakistan         8.0                1992.0     673.0         NaN
4     Sri Lanka         4.0                1996.0     855.0         NaN
5  South Africa         NaN                   NaN       NaN         1.0
6  New  Zealand         NaN                   NaN       NaN         5.0
7      Zimbabwe         NaN                   NaN       NaN         9.0

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5     895.0
6     764.0
7     656.0

In [ ]:
# on ehot encoding on nba1 data

In [ ]:
nba_copy=dataset.copy()

In [ ]:
nba_copy.head(9)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,06-Sep,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,06-Aug,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,06-Feb,190,Louisville,1824360.0

In [ ]:
print(nba_copy['Position'].unique())

['PG' 'SF' 'SG' 'PF' 'C']

In [ ]:

nba_copy['Position'].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [ ]:
one_hot_encoded_data = pd.get_dummies(nba_copy, columns = ['Position'],prefix='Pos')

In [ ]:
one_hot_encoded_data.head()

,Name,Team,Number,Age,Height,Weight,College,Salary,Pos_C,Pos_PF,Pos_PG,Pos_SF,Pos_SG
0,Avery Bradley,Boston Celtics,0,25,06-Feb,180,Texas,7730337.0,0,0,1,0,0
1,Jae Crowder,Boston Celtics,99,25,06-Jun,235,Marquette,6796117.0,0,0,0,1,0
2,John Holland,Boston Celtics,30,27,06-May,205,Boston University,NaN,0,0,0,0,1
3,R.J. Hunter,Boston Celtics,28,22,06-May,185,Georgia State,1148640.0,0,0,0,0,1
4,Jonas Jerebko,Boston Celtics,8,29,06-Oct,231,NaN,5000000.0,0,1,0,0,0

In [ ]:
nba_copy

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [ ]:
#ONE HOT ENCODING SCIKIT-LEARN

In [ ]:
dummies=pd.get_dummies(nba_copy.Name)

In [ ]:
dummies

,Aaron Brooks,Aaron Gordon,Aaron Harrison,Adreian Payne,Al Horford,Al Jefferson,Al-Farouq Aminu,Alan Anderson,Alan Williams,Alec Burks,...,Wesley Johnson,Wesley Matthews,Will Barton,Willie Cauley-Stein,Willie Reed,Wilson Chandler,Xavier Munford,Zach LaVine,Zach Randolph,Zaza Pachulia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
type(nba_copy)

pandas.core.frame.DataFrame

In [ ]:
merged=pd.concat([nba_copy,dummies],axis='columns')

In [ ]:
merged

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Aaron Brooks,...,Wesley Johnson,Wesley Matthews,Will Barton,Willie Cauley-Stein,Willie Reed,Wilson Chandler,Xavier Munford,Zach LaVine,Zach Randolph,Zaza Pachulia
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0,0,...,0,0,0,0,0,0,0,0,0,0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0,0,...,0,0,0,0,0,0,0,0,0,0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN,0,...,0,0,0,0,0,0,0,0,0,0
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-Oct,234,Kentucky,2239800.0,0,...,0,0,0,0,0,0,0,0,0,0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-Mar,203,Butler,2433333.0,0,...,0,0,0,0,0,0,0,0,0,0
454,Raul Neto,Utah Jazz,25,PG,24,06-Jan,179,NaN,900000.0,0,...,0,0,0,0,0,0,0,0,0,0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-Mar,256,NaN,2900000.0,0,...,0,0,0,0,0,0,0,0,0,0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn import preprocessing

In [ ]:
# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

In [ ]:

# 2. FIT
enc.fit(nba_copy)

OneHotEncoder()

In [ ]:
# 3. Transform
onehotlabels = enc.transform(nba_copy)#.toarray()
onehotlabels.shape

(457, 1101)

In [ ]:
type(onehotlabels)

scipy.sparse._csr.csr_matrix

In [ ]:
nba_copy.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-Oct,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,06-Sep,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,06-Aug,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,06-Feb,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,06-Apr,220,Oklahoma State,3431040.0

In [ ]:
type(onehotlabels)

numpy.ndarray

In [ ]:
nba_copy_HE=dataset.copy()

In [ ]:
type(nba_copy_HE)

pandas.core.frame.DataFrame

In [ ]:
# 1. INSTANTIATE
enc1 = preprocessing.OneHotEncoder()

In [ ]:
nba_copy_HE['Position'].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [ ]:
nba_copy_HE['Position'].values

array(['PG', 'SF', 'SG', 'SG', 'PF', 'PF', 'PF', 'C', 'PG', 'PG', 'C',
       'PG', 'SG', 'SG', 'C', 'SG', 'SG', 'SG', 'SG', 'PG', 'SG', 'SG',
       'PG', 'C', 'PF', 'PF', 'PF', 'C', 'PG', 'PF', 'SG', 'PF', 'SF',
       'SF', 'PG', 'SF', 'SG', 'PG', 'C', 'PF', 'PF', 'C', 'SF', 'SG',
       'PF', 'SG', 'PF', 'PG', 'SF', 'C', 'SF', 'PF', 'PF', 'PG', 'PG',
       'PF', 'C', 'PG', 'SG', 'SG', 'PF', 'C', 'SF', 'SF', 'SG', 'PF',
       'PG', 'PG', 'C', 'PF', 'SG', 'SF', 'PF', 'PF', 'C', 'PG', 'SG',
       'SF', 'C', 'SG', 'PG', 'C', 'PF', 'SF', 'PG', 'SF', 'SF', 'SF',
       'C', 'SG', 'PF', 'C', 'PF', 'SG', 'SF', 'SF', 'PF', 'SF', 'C',
       'PF', 'PG', 'SF', 'PG', 'SG', 'PG', 'SG', 'PF', 'C', 'SF', 'SF',
       'PG', 'C', 'PG', 'PF', 'PF', 'PF', 'PG', 'C', 'SG', 'SF', 'SF',
       'PG', 'SG', 'SF', 'C', 'SG', 'SG', 'PG', 'C', 'PF', 'PG', 'PG',
       'PF', 'SF', 'SF', 'C', 'SF', 'SG', 'SG', 'SF', 'SF', 'C', 'PG',
       'C', 'SG', 'PF', 'SF', 'C', 'SG', 'PF', 'PG', 'PF', 'PG', 'SG',
       'SG', 'PF', 'C', 'PF', 'SG', 'SF', 'PF', 'SG', 'C', 'PF', 'PG',
       'SF', 'PG', 'PF', 'PG', 'SF', 'SF', 'SG', 'SG', 'C', 'PF', 'SG',
       'C', 'SG', 'SG', 'C', 'PG', 'C', 'C', 'PG', 'PG', 'SF', 'SG', 'PG',
       'C', 'SF', 'SF', 'PG', 'SF', 'SG', 'PF', 'PF', 'PF', 'PF', 'SG',
       'SF', 'PG', 'C', 'SF', 'PG', 'C', 'SF', 'SG', 'PG', 'PF', 'PF',
       'PG', 'SF', 'PG', 'PG', 'SG', 'PG', 'PF', 'SF', 'SG', 'SG', 'C',
       'SF', 'PF', 'PF', 'C', 'PG', 'SG', 'SG', 'PG', 'SF', 'PG', 'PG',
       'PF', 'SG', 'C', 'C', 'PF', 'C', 'SF', 'PF', 'PF', 'PG', 'SF',
       'SF', 'PG', 'SG', 'PF', 'SF', 'PG', 'SG', 'PF', 'C', 'PF', 'SG',
       'PF', 'C', 'SG', 'SG', 'SG', 'PF', 'SF', 'SG', 'PG', 'PG', 'PG',
       'C', 'PF', 'SF', 'PF', 'PG', 'PG', 'PF', 'SF', 'PF', 'PF', 'C',
       'PF', 'C', 'SF', 'PG', 'PF', 'PF', 'SG', 'PG', 'SF', 'SG', 'PG',
       'SF', 'SG', 'SG', 'PG', 'SG', 'C', 'SF', 'PF', 'SF', 'C', 'C', 'C',
       'SG', 'SG', 'SF', 'C', 'SG', 'PG', 'PG', 'PG', 'SG', 'PF', 'SF',
       'SG', 'SG', 'C', 'PF', 'SG', 'PF', 'PF', 'SG', 'PG', 'PF', 'SF',
       'C', 'C', 'PG', 'SG', 'SG', 'PG', 'PF', 'SG', 'PF', 'C', 'C', 'SF',
       'SG', 'SG', 'PG', 'PG', 'PF', 'C', 'PF', 'SF', 'PG', 'SF', 'PF',
       'SF', 'SG', 'PF', 'SG', 'PF', 'SG', 'PG', 'C', 'SF', 'SF', 'C',
       'SG', 'PF', 'SG', 'PF', 'PG', 'SF', 'PG', 'PF', 'SG', 'PG', 'PF',
       'C', 'PG', 'SG', 'SG', 'SF', 'SG', 'PF', 'C', 'C', 'C', 'PF', 'SF',
       'SF', 'PG', 'SG', 'SF', 'PG', 'PF', 'PG', 'SF', 'SF', 'PF', 'SF',
       'SG', 'C', 'C', 'SG', 'PG', 'PG', 'C', 'SG', 'SG', 'PF', 'C', 'PF',
       'PG', 'PG', 'SF', 'PF', 'C', 'SF', 'PG', 'SF', 'PF', 'C', 'SG',
       'C', 'PF', 'SF', 'SG', 'SF', 'PF', 'C', 'PF', 'C', 'SG', 'PG',
       'SG', 'SF', 'SG', 'PG', 'PF', 'SF', 'SG', 'SG', 'C', 'SF', 'SG',
       'C', 'PF', 'PG', 'SG', 'SG', 'C', 'PG', 'PF', 'PF', 'PG', 'SG',
       'PG', 'PF', 'C', 'SF', 'SG', 'SF', 'SF', 'PF', 'PG', 'PG', 'C',
       'C'], dtype=object)

In [ ]:
nba_copy_HE['Position'].values.reshape(-1,1)

array([['PG'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['PF'],
       ['PF'],
       ['PF'],
       ['C'],
       ['PG'],
       ['PG'],
       ['C'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['C'],
       ['SG'],
       ['SG'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['C'],
       ['PF'],
       ['PF'],
       ['PF'],
       ['C'],
       ['PG'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['SF'],
       ['SF'],
       ['PG'],
       ['SF'],
       ['SG'],
       ['PG'],
       ['C'],
       ['PF'],
       ['PF'],
       ['C'],
       ['SF'],
       ['SG'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['C'],
       ['SF'],
       ['PF'],
       ['PF'],
       ['PG'],
       ['PG'],
       ['PF'],
       ['C'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['PF'],
       ['C'],
       ['SF'],
       ['SF'],
       ['SG'],
       ['PF'],
       ['PG'],
       ['PG'],
       ['C'],
       ['PF'],
       ['SG'],
       ['SF'],
       ['PF'],
       ['PF'],
       ['C'],
       ['PG'],
       ['SG'],
       ['SF'],
       ['C'],
       ['SG'],
       ['PG'],
       ['C'],
       ['PF'],
       ['SF'],
       ['PG'],
       ['SF'],
       ['SF'],
       ['SF'],
       ['C'],
       ['SG'],
       ['PF'],
       ['C'],
       ['PF'],
       ['SG'],
       ['SF'],
       ['SF'],
       ['PF'],
       ['SF'],
       ['C'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['PG'],
       ['SG'],
       ['PG'],
       ['SG'],
       ['PF'],
       ['C'],
       ['SF'],
       ['SF'],
       ['PG'],
       ['C'],
       ['PG'],
       ['PF'],
       ['PF'],
       ['PF'],
       ['PG'],
       ['C'],
       ['SG'],
       ['SF'],
       ['SF'],
       ['PG'],
       ['SG'],
       ['SF'],
       ['C'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['C'],
       ['PF'],
       ['PG'],
       ['PG'],
       ['PF'],
       ['SF'],
       ['SF'],
       ['C'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['SF'],
       ['SF'],
       ['C'],
       ['PG'],
       ['C'],
       ['SG'],
       ['PF'],
       ['SF'],
       ['C'],
       ['SG'],
       ['PF'],
       ['PG'],
       ['PF'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['PF'],
       ['C'],
       ['PF'],
       ['SG'],
       ['SF'],
       ['PF'],
       ['SG'],
       ['C'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['PG'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['C'],
       ['PF'],
       ['SG'],
       ['C'],
       ['SG'],
       ['SG'],
       ['C'],
       ['PG'],
       ['C'],
       ['C'],
       ['PG'],
       ['PG'],
       ['SF'],
       ['SG'],
       ['PG'],
       ['C'],
       ['SF'],
       ['SF'],
       ['PG'],
       ['SF'],
       ['SG'],
       ['PF'],
       ['PF'],
       ['PF'],
       ['PF'],
       ['SG'],
       ['SF'],
       ['PG'],
       ['C'],
       ['SF'],
       ['PG'],
       ['C'],
       ['SF'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['PG'],
       ['PG'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['C'],
       ['SF'],
       ['PF'],
       ['PF'],
       ['C'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['SF'],
       ['PG'],
       ['PG'],
       ['PF'],
       ['SG'],
       ['C'],
       ['C'],
       ['PF'],
       ['C'],
       ['SF'],
       ['PF'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['SF'],
       ['PG'],
       ['SG'],
       ['PF'],
       ['SF'],
       ['PG'],
       ['SG'],
       ['PF'],
       ['C'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['C'],
       ['SG'],
       ['SG'],
       ['SG'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['PG'],
       ['PG'],
       ['PG'],
       ['C'],
       ['PF'],
       ['SF'],
       ['PF'],
       ['PG'],
       ['PG'],
       ['PF'],
       ['SF'],
       ['PF'],
       ['PF'],
       ['C'],
       ['PF'],
       ['C'],
       ['SF'],
       ['PG'],
       ['PF'],
       ['PF'],
       ['SG'],
       ['PG'],
       ['SF'],
       ['SG'],
       ['PG'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['SG'],
       ['C'],
       ['SF'],
       ['PF'],
       ['SF'],
       ['C'],
       ['C'],
       ['C'],
       ['SG'],
       ['SG'],
       ['SF'],
       ['C'],
       ['SG'],
       ['PG'],
       ['PG'],
       ['PG'],
       ['SG'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['C'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['PF'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['SF'],
       ['C'],
       ['C'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['C'],
       ['C'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['PG'],
       ['PG'],
       ['PF'],
       ['C'],
       ['PF'],
       ['SF'],
       ['PG'],
       ['SF'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['SG'],
       ['PG'],
       ['C'],
       ['SF'],
       ['SF'],
       ['C'],
       ['SG'],
       ['PF'],
       ['SG'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['PG'],
       ['PF'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['C'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['SF'],
       ['SG'],
       ['PF'],
       ['C'],
       ['C'],
       ['C'],
       ['PF'],
       ['SF'],
       ['SF'],
       ['PG'],
       ['SG'],
       ['SF'],
       ['PG'],
       ['PF'],
       ['PG'],
       ['SF'],
       ['SF'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['C'],
       ['C'],
       ['SG'],
       ['PG'],
       ['PG'],
       ['C'],
       ['SG'],
       ['SG'],
       ['PF'],
       ['C'],
       ['PF'],
       ['PG'],
       ['PG'],
       ['SF'],
       ['PF'],
       ['C'],
       ['SF'],
       ['PG'],
       ['SF'],
       ['PF'],
       ['C'],
       ['SG'],
       ['C'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['SF'],
       ['PF'],
       ['C'],
       ['PF'],
       ['C'],
       ['SG'],
       ['PG'],
       ['SG'],
       ['SF'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['SF'],
       ['SG'],
       ['SG'],
       ['C'],
       ['SF'],
       ['SG'],
       ['C'],
       ['PF'],
       ['PG'],
       ['SG'],
       ['SG'],
       ['C'],
       ['PG'],
       ['PF'],
       ['PF'],
       ['PG'],
       ['SG'],
       ['PG'],
       ['PF'],
       ['C'],
       ['SF'],
       ['SG'],
       ['SF'],
       ['SF'],
       ['PF'],
       ['PG'],
       ['PG'],
       ['C'],
       ['C']], dtype=object)

In [ ]:
nba_copy_HE['Position'].shape

(457,)

In [ ]:
# 2. FIT

enc1.fit(nba_copy_HE['Position'].values.reshape(-1,1))

OneHotEncoder()

In [ ]:
onehotlabels = enc1.transform(nba_copy_HE['Position'].values.reshape(-1,1))

In [ ]:
onehotlabels.shape

(457, 5)

In [ ]:
####LABEL ENCODER

In [ ]:
nba_copy_LE=dataset.copy()

In [ ]:
from sklearn.preprocessing import LabelEncoder
#
# Instantiate LabelEncoder
#
le = LabelEncoder()
#
# Encode single column status
#
nba_copy_LE.Position = le.fit_transform(nba_copy_LE.Position)
#
# Print df.head for checking the transformation
#

In [ ]:
nba_copy_LE.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,2,25,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,3,25,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,4,27,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,4,22,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,1,29,06-Oct,231,NaN,5000000.0

In [ ]:
nba_copy_LE.shape

(457, 9)

In [ ]:
#######################

In [ ]:
#Retrieving data
data = pd.read_csv('D:/CSE310 - AIML/Module 2/VANITHA/nba1.csv')



#Create an instance of One-hot-encoder
enc=preprocessing.OneHotEncoder()

In [ ]:

enc_data=pd.DataFrame(enc.fit_transform(data[['Position']]).toarray())

In [ ]:
enc_data

       0    1    2    3    4
0    0.0  0.0  1.0  0.0  0.0
1    0.0  0.0  0.0  1.0  0.0
2    0.0  0.0  0.0  0.0  1.0
3    0.0  0.0  0.0  0.0  1.0
4    0.0  1.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...
452  0.0  1.0  0.0  0.0  0.0
453  0.0  0.0  1.0  0.0  0.0
454  0.0  0.0  1.0  0.0  0.0
455  1.0  0.0  0.0  0.0  0.0
456  1.0  0.0  0.0  0.0  0.0

[457 rows x 5 columns]

In [ ]:
#Merge with main
New_df=data.join(enc_data)

print(New_df)

              Name            Team  Number Position  Age  Height  Weight  \
0    Avery Bradley  Boston Celtics       0       PG   25  06-Feb     180
1      Jae Crowder  Boston Celtics      99       SF   25  06-Jun     235
2     John Holland  Boston Celtics      30       SG   27  06-May     205
3      R.J. Hunter  Boston Celtics      28       SG   22  06-May     185
4    Jonas Jerebko  Boston Celtics       8       PF   29  06-Oct     231
..             ...             ...     ...      ...  ...     ...     ...
452     Trey Lyles       Utah Jazz      41       PF   20  06-Oct     234
453   Shelvin Mack       Utah Jazz       8       PG   26  06-Mar     203
454      Raul Neto       Utah Jazz      25       PG   24  06-Jan     179
455   Tibor Pleiss       Utah Jazz      21        C   26  07-Mar     256
456    Jeff Withey       Utah Jazz      24        C   26     7-0     231

               College     Salary    0    1    2    3    4
0                Texas  7730337.0  0.0  0.0  1.0  0.0  0.0
1            Marquette  6796117.0  0.0  0.0  0.0  1.0  0.0
2    Boston University        NaN  0.0  0.0  0.0  0.0  1.0
3        Georgia State  1148640.0  0.0  0.0  0.0  0.0  1.0
4                  NaN  5000000.0  0.0  1.0  0.0  0.0  0.0
..                 ...        ...  ...  ...  ...  ...  ...
452           Kentucky  2239800.0  0.0  1.0  0.0  0.0  0.0
453             Butler  2433333.0  0.0  0.0  1.0  0.0  0.0
454                NaN   900000.0  0.0  0.0  1.0  0.0  0.0
455                NaN  2900000.0  1.0  0.0  0.0  0.0  0.0
456             Kansas   947276.0  1.0  0.0  0.0  0.0  0.0

[457 rows x 14 columns]

In [ ]:
###  DATA SPLITTING

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
dataset_BC = pd.read_csv('D:\CSE310 - AIML\Module 2\Assignments\BreastCancer.csv')

In [ ]:
dataset_BC.shape

(569, 32)

In [ ]:
Y = dataset_BC ['diagnosis']
X = dataset_BC .drop('diagnosis', axis=1)

In [ ]:
X.shape

(569, 31)

In [ ]:
Y.shape

(569,)

In [ ]:
type(X)

pandas.core.frame.DataFrame

In [ ]:
Y.head()

0    M
1    M
2    M
3    M
4    M
Name: diagnosis, dtype: object

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size = 0.20, random_state=21)

In [ ]:
X_train.shape

(455, 31)

In [ ]:
# #Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size = 0.20, random_state=21)

In [ ]:
X_train

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
224,8813129,13.27,17.02,84.55,546.4,0.08445,0.04994,0.035540,0.02456,0.1496,...,15.14,23.60,98.84,708.8,0.1276,0.1311,0.17860,0.09678,0.2506,0.07623
252,885429,19.73,19.82,130.70,1206.0,0.10620,0.18490,0.241700,0.09740,0.1733,...,25.28,25.59,159.80,1933.0,0.1710,0.5955,0.84890,0.25070,0.2749,0.12970
82,8611555,25.22,24.91,171.50,1878.0,0.10630,0.26650,0.333900,0.18450,0.1829,...,30.00,33.62,211.70,2562.0,0.1573,0.6076,0.64760,0.28670,0.2355,0.10510
88,861597,12.36,21.80,79.78,466.1,0.08772,0.09445,0.060150,0.03745,0.1930,...,13.83,30.50,91.46,574.7,0.1304,0.2463,0.24340,0.12050,0.2972,0.09261
169,8712853,14.97,16.95,96.22,685.9,0.09855,0.07885,0.026020,0.03781,0.1780,...,16.11,23.00,104.60,793.7,0.1216,0.1637,0.06648,0.08485,0.2404,0.06428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,906290,11.16,21.41,70.95,380.3,0.10180,0.05978,0.008955,0.01076,0.1615,...,12.36,28.92,79.26,458.0,0.1282,0.1108,0.03582,0.04306,0.2976,0.07123
120,865137,11.41,10.82,73.34,403.3,0.09373,0.06685,0.035120,0.02623,0.1667,...,12.82,15.97,83.74,510.5,0.1548,0.2390,0.21020,0.08958,0.3016,0.08523
368,9011971,21.71,17.25,140.90,1546.0,0.09384,0.08562,0.116800,0.08465,0.1717,...,30.75,26.44,199.50,3143.0,0.1363,0.1628,0.28610,0.18200,0.2510,0.06494
48,857155,12.05,14.63,78.04,449.3,0.10310,0.09092,0.065920,0.02749,0.1675,...,13.76,20.70,89.88,582.6,0.1494,0.2156,0.30500,0.06548,0.2747,0.08301
207,879830,17.01,20.26,109.70,904.3,0.08772,0.07304,0.069500,0.05390,0.2026,...,19.80,25.05,130.00,1210.0,0.1111,0.1486,0.19320,0.10960,0.3275,0.06469

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
trans = MinMaxScaler()
X_train = trans.fit_transform(X_train)
X_test = trans.transform(X_test)